go 1.23.5

use (
	./database/pginit
	./database/pgx-slog
	./database/redisinit
	./http/health
	./http/middleware/idempotency
	./http/middleware/valkeydempotency
	./http/middleware/writablecontext
	./shutdown
)
