name: "coverage"

on:
  pull_request:
  push:
    branches:
      - "main"

jobs:
  codecov:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 1
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version-file: 'go.work'
      - name: Cache codecov
        id: codecov
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.work.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-${{ hashFiles('**/go.work.sum') }}
      - name: Code coverage
        run: make coverage
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
